<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <style type="text/css">
      h1 {margin-left:auto; margin-right:auto; width:90%;}
      h2 {margin-top:2em;}
      h3 {margin-top:1em;margin-left:1em;}
      ul {margin-left:1em;}
      .i2 {margin-left:2em;}
      body {margin:3em; background-color:#00dd00;}
    </style>
  </head>
  <body>
    <div id='content'>
      {{ content }}
    </div>
    <div id='footer'><p><a href="..">Other technical projects</a></p></div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28660801-1']);
      _gaq.push(['_trackPageview']);

      (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
